<% include header.html %>

<style>
	#chat-history {
		background: #eee;
		height: 200px;
		margin-top: 20px;
		padding: 10px;
	}
</style>

<div class='container'>
	<div id='chat-history'>
	</div>
</div>

<script src='/socket.io/socket.io.js'></script>
<script>
var socket = io.connect('/')
var data = document.cookie.split(';')
for (var i = 0; i < data.length; i++) {
	var field = data[i].trim().split('=')
	if (field[0] == 'session') {
		socket.send({card: field[1]})
	}
}

socket.on('message', m => {
	$('#chat-history').append(m.message + "<br>")
})

</script>

<% include footer.html %>