<% include header.html %>

<style>
	#chat-history {
		background: #eee;
		height: 200px;
		margin-top: 20px;
		margin-bottom: 10px;
		padding: 10px;
		overflow-y: scroll;
	}
	#chat-text {
		margin-bottom: 10px;
	}
</style>

<div class='container'>
	<div id='chat-history'>
	</div>
	<form action='javascript:sendMessage()'>
		<input id='chat-text' class='form-control'
			autofocus placeholder='Message'>
		<button class='btn btn-primary'
			id='chat-send'>Send</button>
		<a href='javascript:showLocation()'
			class='btn btn-outline-primary'>Share Location</a>
	</form>
</div>

<script src='/socket.io/socket.io.js'></script>
<script>
var socket = io.connect('/')
var data = document.cookie.split(';')
for (var i = 0; i < data.length; i++) {
	var field = data[i].trim().split('=')
	if (field[0] == 'session') {
		socket.send({card: field[1]})
	}
}

socket.on('message', m => {
	$('#chat-history').append(m.message + "<br>")
})

function sendMessage() {
	var s = $('#chat-text').val()
	$('#chat-text').val('')
	socket.send({message: s})
}

function showLocation() {
	var info = {enableHighAccuracy: true}
	navigator.geolocation.getCurrentPosition(ready, failed, info)
}

function ready(p) {
	var message = {}
	// message.message = p.coords.latitude + "," + p.coords.longitude
	message.message = "<a href='http://wikimapia.org/#lat=" +
		p.coords.latitude + "&lon=" + p.coords.longitude + 
		"&z=18' target='_blank'>Location</a>"  
	socket.send(message)
}

function failed(e) {

}

</script>

<% include footer.html %>