<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Mini - Log In</title>
		<link rel='stylesheet'
			href='/css/bootstrap.min.css'>
		<style>
			input { margin-bottom: 8px; }
		</style>
	</head>
	<body>
		<div class='container'>
			<h1>Log In</h1>
			<form method='post'>
				<input class='form-control'
					name='email'
					placeholder='Email'
					autofocus >
				<input class='form-control'
					name='password'
					placeholder='Password'
					type='password' >
				<button class='btn btn-primary'>
				Log In
				</button>
			</form>
		</div>
	</body>
</html>